<section>
  {{#if message}}
    <p class="alert alert-success text-center p-1">{{message}}</p>
  {{/if}}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 my-auto">
        <img class="login-img" src="/images/signin-img.jpg" alt="" />
      </div>

      <div class="col-12 col-sm-12 col-md-6 my-auto">

        <div class="form-container">
          {{#if error}}
            <p class="alert alert-danger p-0 text-center">{{error}}</p>
          {{/if}}
          <form
            action="/forgot_password"
            method="post"
            id="forgotPass-email-form"
          >
            <div class="form-group">
              <label for="email" class="mb-2">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Your email address"
                name="email"
              />
              <div class="invalid-feedback" id="emailError">
                *Please enter your email address
              </div>
            </div>
            <input
              type="submit"
              class="btn btn-primary"
              value="RESET PASSWORD"
            />
          </form>
          <div class="para-container">
            <a class="login-form-para text-left" href="/user_signin">
              <p>« Back to Login Page</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{#if showOTPSection}} --}}
  <div class="overlay d-none" id="overlay"></div>
  <div id="otp-section" class="d-none">
    <div class="modal-content">
      <span class="close m-2" onclick="closeOtpModal()">&times;</span>
      <h2>Enter OTP</h2>
      <p class="login-form-para">Enter the 4-digit OTP sent to your email</p>
      <p id="timer">0:00</p>
      <form action="/reset_password_OTP_val" method="post" class="otpForm" id="otp-form">
        <div class="form-group">
          <input
            type="text"
            placeholder="0"
            class="code otp-input"
            maxlength="1"
            name="code1"
          />
          <input
            type="text"
            placeholder="0"
            class="code otp-input"
            maxlength="1"
            name="code2"
          />
          <input
            type="text"
            placeholder="0"
            class="code otp-input"
            maxlength="1"
            name="code3"
          />
          <input
            type="text"
            placeholder="0"
            class="code otp-input"
            maxlength="1"
            name="code4"
          />
        </div>
        <p class="text-danger text-sample p-0 m-0" id="otp-error">{{#if
            otpError
          }}{{otpError}}{{/if}}</p>
        <p
          class="text-success text-sample p-0 m-0 d-none"
          id="otp-resend-msg"
        >New OTP sent. Please check your email</p>
        <button class="btn btn-primary otp-btn m-3" type="submit">SUBMIT OTP</button>
        <p class="login-form-para">Didn't get the OTP?
          <a href="/resend_otp" onclick="WhenOtpResend(this,20000,event)">Resend
            OTP</a>
        </p>
      </form>
    </div>
  </div>
  {{!-- {{/if}} --}}
  {{#if isBlocked}}
    <div id="confirmationDialog" class="">
      <div class="dialogContent">
        <p id="conform-message" class="text-center">Your account has been
          blocked
          <i class="fa-solid fa-circle-exclamation" style="color: #e20001;"></i>
        </p>
        <div class="buttonContainer d-flex justify-content-center">
          <button
            role="button"
            class="cursor-pointer"
            id="confirmButton"
            onclick="history.back()"
          >OK</button>
        </div>
      </div>
    </div>
  {{/if}}
</section>

<script>
    if(document.getElementById("otp-error").textContent !== "") {
    
    document.getElementById("otp-section").classList.remove("d-none");
    document.getElementById("overlay").classList.remove("d-none");

    }
</script>