<section>
  {{#if message}}
    <p class="alert alert-success text-center p-1">{{message}}</p>
  {{/if}}
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 my-auto">
        <img class="login-img" src="/images/reset-password-img.jpg" alt="" />
      </div>

      <div class="col-12 col-sm-12 col-md-6 my-auto">

        <div class="form-container">
          <h2 class="mb-4 login-header"></h2>
          {{#if error}}
            <p class="alert alert-danger p-0 text-center">{{error}}</p>
          {{/if}}
          <form action="/reset_password" method="post" id="reset_pass_form">
            <div class="form-group">
              <div><label for="password">Password</label></div>
              <div class="password-container">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Enter your new password"
                  name="password"
                />
                <i
                  class="fa-regular fa-eye-slash fa-sm toggle-password"
                  onclick="togglePassword(event)"
                  title="Toggle password"
                ></i>
                <div class="invalid-feedback mb-1" id="passwordError">*Please
                  enter your new password</div>
              </div>
            </div>
            <div class="form-group">
              <div><label for="conform password">Conform Password</label></div>
              <div class="password-container">
                <input
                  type="password"
                  class="form-control"
                  id="conformPassword"
                  placeholder="Re-enter your password"
                  name="conformPassword"
                />
                <i
                  class="fa-regular fa-eye-slash fa-sm toggle-password"
                  onclick="togglePassword(event)"
                  title="Toggle password"
                ></i>
                <div class="invalid-feedback mb-1" id="conformPassError">*Please
                  re-enter your password</div>
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="SAVE" />
          </form>
          <div class="para-container">
            <a class="login-form-para text-left" href="/user_signin">
              <p>« Back to Login Page</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if isBlocked}}
    <div id="confirmationDialog" class="">
      <div class="dialogContent">
        <p id="conform-message" class="text-center">Your account has been
          blocked
          <i class="fa-solid fa-circle-exclamation" style="color: #e20001;"></i>
        </p>
        <div class="buttonContainer d-flex justify-content-center">
          <button
            role="button"
            class="cursor-pointer"
            id="confirmButton"
            onclick="history.back()"
          >OK</button>
        </div>
      </div>
    </div>
  {{/if}}
</section>